*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  --mainBackgroundOne:  #3f49a9;
  --mainBackgroundTwo:  #711d32;
  --mainColorTitle: #dcd2d4;
  --mainShadowTitle: #000000c2;
  
  
  --hoverInput:  #dfcbd1;
  --hoverTransition:  all .5s;
  --hoverTitle: rgb(40, 57, 93);

  --paddingSize: 20px;
} 


body {
  margin: 0;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, var(--mainBackgroundOne), var(--mainBackgroundTwo));
}


.main {
  text-align: center;
}

.main-title {
  color: var(--mainColorTitle);
  text-shadow: 0 0 5px var(--mainShadowTitle); 
  transition: var(--hoverTransition);
}

.main-title:hover {
  text-shadow: 0 0 20px var(--hoverTitle);
}

.wrapper {
  padding-right: var(--paddingSize);
  padding-left: var(--paddingSize);
}

.input__search {
  border: none;
  padding: .5rem  3.8rem;
  text-align: center;
  font-size: .9rem;
  border-radius: 10px;
  transition: var(--hoverTransition);
}

.input__search:focus {
  outline: none;
  box-shadow: 0 0 5px var(--hoverInput);
}


.marvel-layout {
  display: grid;
  gap: 2.2em;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr) );
  margin-top: 30px;
}

.card-hero img {
  max-width: 100%;
}

.card-hero {
  background-color: #ccc6e2;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #dfd0d0;
  transition: var(--hoverTransition);
}

.card-hero:hover {
  box-shadow: 0px 0px 14px #dfd0d0;
  cursor: pointer;
}


.card-name-top {
  background-color: #bcbcea;
  color: #000000cc;
  border-radius: 30px 30px 5px 5px;
  box-shadow: 0px 0px 3px #c0cce2;
  transition: var(--hoverTransition);
}

.card-hero:hover  .card-name-top{
  box-shadow: 0px 0px 14px #e7dfdf;
}

.error-text {
  color: #fff;
  text-shadow: 0 0 4px 2px #000;
}